.tintColor {
    color: #147ce8;
  }
  
.tintBgColor {
    background: #147ce8;
}
.balcneColor {
    color: rgb(0, 120, 201);
}

.borderColor {
    border: 1px solid rgb(230, 231, 232);
    border-radius: 3px;
}

.fl {
    float: left;
}
  
.fr {
    float: right;
}

.clear-float:after,
.clear-float:before {
  content: '';
  display: block;
  clear: both;
}

.inline {
    display: inline;
}

.inlineBlock {
    display: inline-block;
}

.mainPage {
    background:white;
    text-align: left;
}

.mainPage .pageTitle {
    color: #2F3A53;
}

.mainPage .notice-msg {
    color: red;
    font-size: 12px;
}

.mainPage .contenArea {
    padding: 10px 10px 10px 20px;
}

.redText {
    color: red;
}

/* 弹框头部颜色 */
.el-dialog__header {
    background: rgb(237, 238, 239);
}

.el-dialog {
    min-width: 470px;
}




/* 买家端 */


#app_b .page-tabbar ul {
    padding-left: 0px;
}
#app_b .page-tab-container ul {
    padding-left: 0px;
    margin-top: 0px;
}

#app_b .page-tab-container ul,li {
    list-style:none;
}

#app_b .bodyPage ul {
    padding-left: 0px;
    margin-top: 0px;
}

#app_b .themeBlue {
    color: rgb(47, 120, 235);
}

#app_b .themePurple {
    color: rgb(218, 66, 150);
}

#app_b .themeBgPurple {
    background-color: rgb(218, 66, 150);
}

#app_b .whiteColor {
    background-color: rgb(254, 255, 255);
}

#app_b .whiteTextColor {
    color: rgb(254, 255, 255);
}

#app_b .bodyPage {
    background: rgb(246, 247, 248);
    min-height: 100vh;
}

#app_b .borderGrayColor {
    border-color: rgb(230, 231, 232);
}

#app_b .bodyPage .bottomButton {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
